
.menu{
	width: 100%;
	height:100px;
	background-color: grey;
}
.leftmenu{
	width: 50%;
	line-height: 120px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.leftmenu h4{
padding-left: 70px;
font-weight: bold;
color: orange;
font-size: 20px;
}
.rightmenu{
	float:right;
}
.rightmenu ul{
	margin-left: 200px;
}
.rightmenu ul li{
	display:inline-block;
	font-size: 18px;
    color: white;
    font-weight: bold;
    line-height: 100px;
    text-transform: uppercase;
    margin-left: 40px;
    list-style: none;
}

.rightmenu ul li:hover{
	color: cyan;
}

.rightmenu{
    text-align: right;
}

.cell{
    -webkit-box-shadow: 0 0 5px 6px rgb(173, 168, 168);
    -moz-box-shadow: 0 0 5px 6px rgb(173, 168, 168);
    box-shadow: 0 0 5px 6px rgb(173, 168, 168);
}
table {
    border-collapse: separate;
    border-spacing: 30px 30px;
    margin-left: auto;
    margin-right: auto;
  }

.cell-size{
    height: 180px;
    width: 180px;

}

@media screen and (max-width: 450px) {
  .cell-size {
    width: 100%;
    background-color: red;
  }
}


  .nav-item:hover{
    transform: scale(1.04);
  }
 
  .small-box:hover{
    transform: scale(1.1);
    color: aqua;
  }


  /*-----------------------*/

  .main-box {
    width: 46%;
    height: auto;
    margin: auto;
    /*background-color: red;*/
  }

  .small-box {
    width: 40%;
    height: 180px;
    margin: 15px;
    float: left;
    -webkit-box-shadow: 0 0 5px 6px rgb(173, 168, 168);
    -moz-box-shadow: 0 0 5px 6px rgb(173, 168, 168);
    box-shadow: 0 0 5px 6px rgb(173, 168, 168);
}


@media screen and (max-width: 986px) {
  .main-box {
    width: 80%;
  }
}@media screen and (max-width: 600px) {
  .small-box {
    width: 100%;
  }
}